<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-clgeocoder" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Geocoder</name>
  <js-module name="CLGeocoderPlugin" src="www/geocoder.js">
    <clobbers target="navigator.geocoder" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CLGeocoderPlugin">
        <param name="ios-package" value="CLGeocoderPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/CLGeocoderPlugin.swift" />
    <framework src="CoreLocation.framework" />
    <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
      <string></string>
    </config-file>
  </platform>
</plugin>
